body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(207, 207, 207);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    max-width: 100%;
    margin: auto;
}

h2 {
    text-align: center;
    color: #1a2537;
    font-size: 24px;
    margin-top: 1px;
}

input[type="text"], input[type="password"], input[type=email] {
    font-size: 15px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    color: #a1a1a1;
    border-style: none;
    border-radius: 10px;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    margin-top: 8%;
    border: none;
    color: white;
    font-size: 17px;
    background: #66CD42;
    padding: 2% 4%;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

/* vertical line */

.v1 {
    height: 300px;
    width: 3px;
    background-color: #cccccc;
    margin: 80px 10px;
}

.coluna1 {
    width: 50%;
    margin: 65px 5%;
    align-items:center;
}

.textbox {
    padding: 2%;
    width: 122%;
}

.textbox1 {
    margin-top: 10px;
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    color: #a1a1a1;
    border-style: none;
    border-radius: 4px;
}

.image {
    max-width: 40%;
    margin: auto;
    padding-bottom: 10%;
}

.info {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.info > p {
    color: #777777;
    margin-top: 0.25px;
}

.coluna2 {
    width: 50%;
    margin: 80px 5%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.login {
    width: 100%;
    padding: 15px 20px;
    margin: auto;
    text-align: center;
    color: #777777;
}

.link-open {
    text-decoration: none;
    color: #5FB741;
    margin-left: 10px;
}

@media(min-width:768px) {
    .formulario {
        width: 55%;
        background-color: #EBEBEB;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
        border-radius: 2%;
        padding: 0px 15px;
        display: flex;
        flex-direction: row;
    }
}