

/* NORMALIZAÇÂO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
}

form#form1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header.min {
    animation: minMove 0.2s;
    height: 50px;
}

.header.max {
    animation: maxMove 0.2s;
    height: 70px;
}

@keyframes minMove {
    from {
        height: 70px;
    }

    to {
        height: 50px;
    }
}

@keyframes maxMove {
    from {
        height: 50px;
    }

    to {
        height: 70px;
    }
}

.header {
    width: 100%;
    height: 70px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 50px;
    box-shadow: 0 0px 5px rgba(0,0,0,.1);
    position: fixed;
    z-index: 1;
}


    .header > img {
        width: 100px;
        cursor: pointer;
    }

    .header > .ol {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

        .header > .ol > .li {
            height: 100%;
            margin: 0 20px;
            padding: 0 20px;
            border-top: 2px solid #FFF;
            color: #5c5c5c;
            display: flex;
            align-items: center;
        }

            .header > .ol > .li:hover {
                border-top: 2px solid #0bba25;
                transition: 0.4s;
                cursor: pointer;
            }


        /* MENU USER */

        .header > .ol > .menu-user {
            height: 100%;
            padding-left: 30px !important;
            padding-right: 30px !important;
            font-weight: 600;
            color: #5c5c5c;
            margin: 0 !important;
            background-color: #f2f2f2;
            border: none !important;
            display: flex;
            align-items: center;
        }

        .menu-logout {
            height: 100%;
            padding-right: 30px !important;
            font-weight: 600;
            color: #C5303E;
            margin: 0 !important;
            background-color: #f2f2f2;
            border: none !important;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
        }

        .fa-sign-out-alt {
            color: #C5303E;
            text-decoration: none;
            font-size:20px;
        }

            .header > .ol > .menu-user:hover {
                background-color: #f4f4f4;
            }

            .box11 {
                margin-right: 25px;
            }

.box2 {
    width: 100%;
}

.box2-user-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 20px 20px;
}

.box2-user {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

    .box2-user > i {
        font-size: 60px;
        color: #555555;
    }

.user-name {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

    .user-name > .username {
        color: #313131;
        font-size: 30px;
    }

    .user-name > p {
        color: #adadad;
    }

.box2-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

    .box2-button > .btn2 {
        padding: 10px 20px;
        border: none;
        border-radius: 1px;
        background-color: #17A2B8;
        color: white;
        border-bottom-color: #13899C;
        margin-left: 87px;
        cursor: pointer;
    }

.ponto {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #9F9F9F;
    display: flex;
    font-size: 24px;
}

.box2-ponto {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}


.box2-card {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-top: 15px;
    background-color: #2EBFD6;
    padding: 20px 20px;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .card > i {
        font-size: 90px;
        color: #EBEBEB;
    }

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

    .info > p {
        color: #EFEFEF;
        font-size: 24px;
        text-align: center;
    }

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    cursor: pointer;
}

    .btn > .btn1 {
        padding: 10px 20px;
        border: none;
        border-radius: 2px;
        background-color: #EBEBEB;
        color: #898989;
        border-bottom-color: #C2C2C2;
        cursor: pointer;
    }

.hl { /* horizontal line */
    height: 2px;
    width: 100%;
    background-color: #EDEDED;
    margin-top: 2px;
}

.title-money {
    color: #3C3C3C;
    font-size: 45px;
    margin-top: 6px;
}


.btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    cursor: pointer;
}

    .btns > .btn-rec {
        width: 100%;
        padding: 10px 20px;
        border: none;
        border-radius: 2px;
        background-color: #EBEBEB;
        color: #898989;
        border-bottom-color: #C2C2C2;
        margin-right: 10px;
        cursor: pointer;
    }

    .btns > .btn-calc {
        width: 100%;
        padding: 10px 20px;
        border: none;
        border-radius: 2px;
        background-color: #17A2B8;
        color: #EBEBEB;
        border-bottom-color: #13899C;
        cursor: pointer;
    }

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

.status {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 20px;
    margin-top: 2px;
    display: none;
    padding: 10px;
    border-radius: 2px;
}

.statusAprovado {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 6px 12px 6px 12px;
    padding: 10px;
    margin-top: 2px;
    display: none;
    margin-left: 75px;
    border-radius: 2px;
}

.statusNegado {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px;
    margin-top: 2px;
    display: none;
    border-radius: 2px;
}