/* CONTAINER */

.container {
    width: 100%;
    height: 400px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.box1, .box2 {
    background-color: #FFF;
}


.box1 {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px;
}

.princi {
    width: 100%;
    padding: 15px 20px;
    padding-left: 10px;
    background-color: white;
    border-top-style: solid;
    border-top-color: #D0D0D0;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 10px;
}

.org-1 {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 50px;
}

.org-2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.org-3 {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.org{
    color: #777777;
    font-size: 22px;
    text-decoration: none;
}

.org1 {
    color: #777777;
    font-size: 22px;
    text-decoration: none;
    margin-left: 10px;
}

.org-1 > i {
    font-size: 35px;
    padding: 38px;
    color: #555555;
}

.org-2 > i {
    font-size: 35px;
    padding: 40px;
    color: #555555;
}

.org-3 > i {
    font-size: 33px;
    padding: 35px;
    color: #555555;
}

.al {
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

.neutro {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.statusAviso {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 20px;
    display: none;
    padding: 10px;
    border-radius: 2px;
    animation: pulseAguarde 1.5s infinite;
}

.statusAprov {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px;
    display: none;
    border-radius: 2px;
    margin: auto;
    margin: 0 auto;
    animation: pulseDeferido 1.5s infinite;
}

.statusIndeferido {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px;
    display: none;
    border-radius: 2px;
    animation: pulseIndeferido 1.5s infinite;
}
/*NEUTRO*/

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/*AGUARDE*/
@keyframes pulseAguarde {
    0% {
        transform: scale(.9);
    }

    70% {
        transform: scale(.9);
        box-shadow: 0 0 0 5px rgba(252, 248, 227, 0.8);
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba(252, 248, 227, 0.8);
    }
}
/*INDEFERIDO*/
@keyframes pulseIndeferido {
    0% {
        transform: scale(.9);
    }

    70% {
        transform: scale(.9);
        box-shadow: 0 0 0 5px rgba(242, 222, 222, 0.78);
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba(242, 222, 222, 0.78);
    }
}
/*DEFERIDO*/
@keyframes pulseDeferido {
    0% {
        transform: scale(.9);
    }

    70% {
        transform: scale(.9);
        box-shadow: 0 0 0 5px rgba(223, 240, 216, 0.6);
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba(223, 240, 216, 0.6);
    }
}
/* RESPONSIVIDADE */
@media only screen and (max-width: 1000px) {
    .header {
        margin: 0;
        width: 100%;
    }
}