/* CONTAINER */

.container {
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.box1, .box2 {
    background-color: #FFF;
}


.box1 {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px;
}

.box1-header {
    width: 100%;
    padding: 12px 20px;
    background-color: #17A2B8;
    border-radius: 2px;
    color: white;
}

.box1-title {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.box1-header > .box1-button > .btnAdd {
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.box2-button > .btn2 {
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    background-color: #17A2B8;
    color: white;
    border-bottom-color: #13899C;
    cursor: pointer;
}

.box2-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

.btn-b2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 156px;
    flex-direction: row;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
    cursor: pointer;
}

    .btn-b2 > .btn-close {
        padding: 10px 20px;
        border: none;
        border-radius: 2px;
        background-color: #C5303E;
        color: #EBEBEB;
        border-bottom-color: #13899C;
        margin-right: 30px;
        cursor: pointer;
    }

    .btn-b2 > .btn-save {
        padding: 10px 20px;
        border: none;
        border-radius: 2px;
        background-color: #17A2B8;
        color: #EBEBEB;
        border-bottom-color: #13899C;
        cursor: pointer;
    }


.ai {
    text-decoration: none;
    color: #0F3561;
    margin-right: 10px;
}

.box1-midi > h1 {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #3C3C3C;
}

.box1-midi {
    width: 100%;
    padding: 15px 20px;
    background-color: #EBEBEB;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.box1-mid {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    color: #a1a1a1;
    border-style: none;
    border-radius: 4px;
}

.compare {
    clear:left;
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

.nov-header {
    width: 100%;
    background-color: white;
    border-radius: 2px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
}

.nov-text {
    margin-top: 20px;
    width: 75%;
    padding: 12px 20px;
    background-color: #ebebeb;
    color: black;
    border-style: none;
    border-radius: 2px;
}

.space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.space-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link-alt {
    text-decoration: none;
    color: #2EBFD6 !important;
    font-size: 15px;
    margin-top: 22px;
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 1000px) {
    .header {
        margin: 0;
        width: 100%;
    }
}
