/* NORMALIZAÇÂO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
}

form#form1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header.min {
    animation: minMove 0.2s;
    height: 50px;
}

.header.max {
    animation: maxMove 0.2s;
    height: 70px;
}

@keyframes minMove {
    from {
        height: 70px;
    }

    to {
        height: 50px;
    }
}

@keyframes maxMove {
    from {
        height: 50px;
    }

    to {
        height: 70px;
    }
}

.header {
    width: 100%;
    height: 70px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 50px;
    box-shadow: 0 0px 5px rgba(0,0,0,.1);
    position: fixed;
    z-index: 1;
}


    .header > img {
        width: 100px;
        cursor: pointer;
    }

    .header > .ol {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

        .header > .ol > .li {
            height: 100%;
            margin: 0 20px;
            padding: 0 20px;
            border-top: 2px solid #FFF;
            color: #5c5c5c;
            display: flex;
            align-items: center;
        }

            .header > .ol > .li:hover {
                border-top: 2px solid #0bba25;
                transition: 0.4s;
                cursor: pointer;
            }


        /* MENU USER */

        .header > .ol > .menu-user {
            height: 100%;
            padding-left: 30px !important;
            padding-right: 30px !important;
            font-weight: 600;
            color: #5c5c5c;
            margin: 0 !important;
            background-color: #f2f2f2;
            border: none !important;
            display: flex;
            align-items: center;
        }

            .header > .ol > .menu-user:hover {
                background-color: #f4f4f4;
            }


        /* MENU USER */

        .header > ol > .menu-user {
            height: 100%;
            padding: 30px;
            margin: 0 !important;
            background-color: #f2f2f2;
            border: none !important;
        }

            .header > ol > .menu-user:hover {
                background-color: #f4f4f4;
            }

/* CONTAINER */
/* ========= */

.container {
    width: 1000px;
    height: 400px;
    background-color: #FFF;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.box1, box2 {
    background-color: #FFF;
}


.box1 {
    width: 600px;
    margin-right: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px;
}

.box1-header {
    width: 100%;
    padding: 15px 20px;
    background-color: #17A2B8;
    border-radius: 2px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box1-title {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.ai {
    text-decoration: none;
    color: #0F3561;
    margin-right: 10px;
}

.textbox1 {
    width: 100%;
    padding: 10px 20px;
    background-color: #EBEBEB;
    border-radius: 2px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #313131;
    font: 16px Arial;
}

.box1-filtro {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.ddlist1 {
    width: 85%;
    padding: 10px 20px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 2px;
    color: #313131;
    font: 16px Arial;
}

.btn-ok {
    width: 13%;
    padding: 10px 20px;
    background-color: #17A2B8;
    border-bottom-color: #13899C;
    border: none;
    border-radius: 2px;
    margin-left: 2%;
    color: white;
    cursor: pointer;
}

.box1-midi {
    width: 100%;
    height: 86%;
    padding: 10px 20px;
    background-color: #EBEBEB;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.box2-button > .btn2 {
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    background-color: #17A2B8;
    color: white;
    border-bottom-color: #13899C;
    cursor: pointer;
}

.box2-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

.box2 {
    width: 380px;
}

.box2-user-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 20px 20px;
}

.box2-user {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}

    .box2-user > i {
        font-size: 60px;
        color: #555555;
    }

.user-name {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

    .user-name > h1 {
        color: #313131;
    }

    .user-name > p {
        color: #adadad;
    }


/* REPEATER */

.help {
    margin-top: 20px;
}

.solicitItem {
    width: 100%;
    padding: 20px;
    display: flex;
    box-shadow: 0px 1px 5px -3px rgba(0,0,0,0.75);
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.solicitItem-nome {
    min-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.solicit-nome {
    color: #7a7a7a;
    font-size: 16px;
}

.solicit-but {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 10px;
    margin-left: 220px;
}

.link-but > i {
    font-size: 30px;
    color: #17A2B8;
    margin-left: 10px;
}

/*Modal*/

.faixa {
    background-color: #17A2B8;
    width: 100%;
    padding: 25px;
    margin-top: 30px;
}

.action-button {
    position: relative;
    padding: 5px 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 3.5px;
    font-family: Arial;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    transition: all 0.15s linear;
    text-align: center;
    z-index: 0;
}

#show-modal:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

    .modal .content-modal {
        width: 100%;
        max-width: 500px;
        position: fixed;
        left: 50%;
        top: -100vh;
        transition: top 0.35s ease;
        margin-left: -250px;
        background: white;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        border-radius: 2px;
        z-index: 99999999;
    }

    .modal h2 {
        padding: 0.5em;
        text-align: center;
        color: #444444;
        margin: 0;
    }

    .modal article {
        height: 300px;
        background: #fff;
    }

.close-modal {
    color: #fff;
    position: absolute;
    top: 30px;
    right: 0.375em;
    margin: 10px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.modal a:hover {
    color: #c0392b;
}

.modal:target {
    opacity: 1;
    top: 0;
}

.modal .btn-close-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999999;
}

.modal:target .content-modal {
    top: 50px;
    transition: top 0.35s ease;
}


@media (max-width: 500px) {
    .modal .content-modal {
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}

.help-modal {
    margin-top: 20px;
}

.item-modal {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.ddlist1 {
    width: 78%;
    padding: 10px 20px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 2px;
    color: #7a7a7a;
    font: 16px Arial;
}

/* RESPONSIVIDADE */
@media only screen and (max-width: 1000px) {
    .header {
        margin: 0;
        width: 100%;
    }
}
