body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(207, 207, 207);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    max-width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    font-size: 15px;
    width: 82%;
    padding: 12px;
    border: none;
    margin: auto;
}

.input-contenedor {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    color: #a1a1a1;
    border-style: none;
    border-radius: 10px;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    margin-top: 8%;
    border: none;
    color: white;
    font-size: 17px;
    background: #66CD42;
    padding: 3% 17%;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background: cadetblue;
    }

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}



.coluna-1 {
    width: 90%;
    margin: 5%;
}

.textbox {
    padding: 4%;
    width: 118%;
}

.textbox1 {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    color: #a1a1a1;
    border-style: none;
    border-radius: 4px;
}

.image {
    max-width: 40%;
    margin: auto;
    padding-bottom: 10%;
    margin-top: 35px;
}

.info {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

    .info > p {
        color: #777777;
        margin-bottom: 57px;
        margin-top: -5px;
        font-size: 25px;
    }


.login {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 41px;
    color: #777777;
}

.login-1 {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 41px;
    color: #777777;
}

.link-open {
    text-decoration: none;
    color: #5FB741;
    margin-left: 10px;
}

.link-rec {
    text-decoration: none;
    color: #2EBFD6 !important;
    margin-left: 10px;
}

@media(min-width:768px) {
    .formulario {
        width: 35%;
        background-color: #EBEBEB;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
        border-radius: 2%;
        padding: 0px 15px;
        display: flex;
        flex-direction: row;
    }
}
