/* NORMALIZAÇÂO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
}

form#form1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header.min {
    animation: minMove 0.2s;
    height: 50px;
}

.header.max {
    animation: maxMove 0.2s;
    height: 70px;
}

@keyframes minMove {
    from {
        height: 70px;
    }

    to {
        height: 50px;
    }
}

@keyframes maxMove {
    from {
        height: 50px;
    }

    to {
        height: 70px;
    }
}

.header {
    width: 100%;
    height: 70px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 50px;
    box-shadow: 0 0px 5px rgba(0,0,0,.1);
    position: fixed;
    z-index: 1;
}


    .header > img {
        width: 100px;
        cursor: pointer;
    }

    .header > .ol {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

        .header > .ol > .li {
            height: 100%;
            margin: 0 20px;
            padding: 0 20px;
            border-top: 2px solid #FFF;
            color: #5c5c5c;
            display: flex;
            align-items: center;
        }

            .header > .ol > .li:hover {
                border-top: 2px solid #0bba25;
                transition: 0.4s;
                cursor: pointer;
            }


        /* MENU USER */

        .header > .ol > .menu-user {
            height: 100%;
            padding-left: 30px !important;
            padding-right: 30px !important;
            font-weight: 600;
            color: #5c5c5c;
            margin: 0 !important;
            background-color: #f2f2f2;
            border: none !important;
            display: flex;
            align-items: center;
        }

            .header > .ol > .menu-user:hover {
                background-color: #f4f4f4;
            }


/* NORMALIZAÇÂO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
}

form#form1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 50px;
    box-shadow: 0 0px 5px rgba(0,0,0,.1);
    position: fixed;
    z-index: 1;
}

    .header > img {
        width: 100px;
        cursor: pointer;
    }

    .header > ol {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

        .header > ol > li {
            margin: 0 20px;
            padding: 28px 20px;
            border-top: 2px solid #FFF;
            font-weight: 600;
            color: #5c5c5c;
        }

            .header > ol > li:hover {
                border-top: 2px solid #0bba25;
                transition: 0.4s;
                cursor: pointer;
            }


        /* MENU USER */

        .header > ol > .menu-user {
            height: 100%;
            padding: 30px;
            margin: 0 !important;
            background-color: #f2f2f2;
            border: none !important;
        }

            .header > ol > .menu-user:hover {
                background-color: #f4f4f4;
            }

.menu-logout {
    height: 100%;
    padding-right: 30px !important;
    font-weight: 600;
    color: #C5303E;
    margin: 0 !important;
    background-color: #f2f2f2;
    border: none !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.fa-sign-out-alt {
    color: #C5303E;
    text-decoration: none;
    font-size: 20px;
}

/* CONTAINER */

.container {
    width: 1000px;
    height: 400px;
    background-color: #FFF;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.box1, .box2 {
    background-color: #FFF;
}


.box1 {
    width: 600px;
    height: 500px;
    margin-right: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px;
}

.box1-header {
    width: 100%;
    padding: 15px 20px;
    background-color: #17A2B8;
    border-radius: 2px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box1-title {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.box1-header > .box1-button > .btnAdd {
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.box2-button > .btn2 {
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    background-color: #17A2B8;
    color: white;
    border-bottom-color: #13899C;
    cursor: pointer;
}

.box2-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}


.hl { /* horizontal line */
    height: 3px;
    width: 100%;
    background-color: #cccccc;
    margin-top: 40px;
}


.box2 {
    width: 380px;
}

.box2-user-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 20px 20px;
}

.box2-user {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.box2-ponto {
    width: 100%;
    height: 600px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.ponto {
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 10px;
    padding-left: 128px;
    background-color: #C4C4C4;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: white;
    display: flex;
}

.ponto2 {
    padding: 7px 50px;
    margin-top: 5px;
    background-color: #b8b8b8;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

    .ponto2 > i {
        margin-right: 10px;
    }

.box1-title > i {
    margin-right: 10px;
}

.box2-user > i {
    font-size: 60px;
    color: #555555;
}

.user-name {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

.status {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 20px;
    margin-top: 2px;
    display:none;
    padding:10px;
    border-radius:2px;
}

.statusAprovado {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px;
    margin-top: 2px;
    display: none;
    border-radius: 2px;
}

.statusNegado {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px;
    margin-top: 2px;
    display: none;
    border-radius: 2px;
}

/* RESPONSIVIDADE */
@media only screen and (max-width: 1000px) {
    .header {
        margin: 0;
        width: 100%;
    }
}
