body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #EFEFEF;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    max-width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    font-size: 15px;
    width: 100%;
    padding: 12px;
    border: none;
    margin:auto;
}

.input-contenedor {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    color: #a1a1a1;
    border-style: none;
    border-radius: 10px;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    width: 200px;
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 17px;
    background: #66CD42;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

    .button:hover {
        background: #5cb83b;
    }

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}



.coluna-1 {
    width: 100%;
    margin: 5%;
}

.textbox {
    width: 100%;
    margin-bottom: 15px;
}

.textbox1 {
    margin-bottom: 15px;
    width: 100%;
    padding: 20px;
    background-color: white;
    color: #a1a1a1;
    border-style: none;
    border-radius: 2px;
}

.image {
    max-width: 40%;
    margin: auto;
    padding-bottom: 8%;
    margin-top: 35px;
}

.info {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

    .info > p {
        color: #777777;
        margin-top:-5px;
        font-size:25px;
    }


.login {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #777777;
}

.login-1 {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 41px;
    color: #777777;
}

.link-open {
    text-decoration: none;
    color: #5FB741;
    margin-left: 10px;
}

.link-rec {
    text-decoration: none;
    color: #2EBFD6 !important;
    margin-left: 10px;
}

.volt {
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.vol {
    color: #2EBFD6 !important;
    font-size: 15px;
    text-decoration: none;
    margin-right: 10px;
}

.vol-1 {
    text-decoration: none;
    color: #2EBFD6 !important;
    font-size: 15px;
}


/* APARIÇÃO DO FORM */
form {
    overflow: hidden;
    animation: fade 0.2s;
}

    form .textbox1 {
        animation: move 500ms;
    }

    form .textbox2 {
        animation: move 400ms;
        animation-delay: 100ms;
        animation-fill-mode: backwards;
    }

    form .button {
        animation: move 400ms;
        animation-delay: 250ms;
        animation-fill-mode: backwards;
    }

    form .button {
        animation: move 500ms;
    }
/*APARIÇÃO DO FORM*/
form {
    overflow: hidden;
    animation: fade 0.2s;
}

    form .textbox1 {
        animation-duration: 500ms;
    }

    form .textbox2 {
        animation-duration: 500ms;
        animation-delay: 250ms;
        animation-fill-mode: backwards; /*ficar na posição iniciao do from */
    }

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%); /*mexendo no eixo X do elemento(os campos)*/
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

form {
    animation-name: fade;
    animation-duration: 500ms;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media(min-width:768px) {
    .formulario {
        width: 400px;
        background-color: #EFEFEF;
        box-shadow: 0px 0px 10px 0px rgba(115,115,115,1);
        border-radius: 3px;
        padding: 20px;
        display: flex;
        flex-direction: row;
    }
}
